{% extends 'main/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'main:message_create' %}">Добавить сообщение</a>
    </div>
    {% endif %}
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">
                            {{ object.title }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'main:message_detail' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            {% if user == object.owner or user.is_superuser %}
                            <a href="{% url 'main:message_update' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Редактировать</a>
                            <a href="{% url 'main:message_delete' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}